<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org">
  <head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="https://raw.githack.com/begriffs/angular-paginate-anything/master/src/paginate-anything.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <style>
      ul.pagination, div.per-page {
        display: inline-block;
        vertical-align: middle;
      }
      div.per-page {
        margin-left: 1em;
      }
      ul.pagination > li a {
        display: inline-block;
        min-width: 3em;
        text-align: center;
      }
    </style>

    <title>Demo angular-paginate-anything</title>
  </head>
  <body ng-app="demoapp" ng-controller="DemoController">

    <div class="row">
      <div class="col-md-6">
        <h1>English Words</h1>
        <pagination
          per-page="words.perPage"
          client-limit="words.clientLimit"
          url="'http://pagination.begriffs.com/words'"
          link-group-size="2"
          collection="wordData"
          template-url="https://raw.githack.com/begriffs/angular-paginate-anything/master/tpl/paginate-anything.html"
        ></pagination>
      </div>
      <div class="col-md-6">
        <h1>Numbers</h1>
        <pagination
          per-page="numbers.perPage"
          client-limit="numbers.clientLimit"
          url="'http://pagination.begriffs.com/numbers'"
          link-group-size="2"
          collection="numberData"
          template-url="https://raw.githack.com/begriffs/angular-paginate-anything/master/tpl/paginate-anything.html"
        ></pagination>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <ul>
          <li ng-repeat="w in wordData">{{w}}</li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul>
          <li ng-repeat="n in numberData">{{n}}</li>
        </ul>
      </div>
    </div>
  </body>
  <script>
  angular.module("demoapp", ['begriffs.paginate-anything'])
    .config(function($sceDelegateProvider) {
      $sceDelegateProvider.resourceUrlWhitelist(['self', 'https://raw.githack.com/begriffs/**']);
    })
    .controller("DemoController", function($scope) {
      $scope.words = {
        perPage: 15,
        clientLimit: 1000
      };
      $scope.numbers = {
        perPage: 10,
        clientLimit: 800
      };
    });
</script>
</html>
