<div class="pagination">
  <ul class="links" ng-if="paginated === true">
    <li ng-class="{disabled: page <= 0}"><a href>&laquo;</a></li>

    <li ng-if="page - linkGroupSize > 0"><a href>1</a></li>
    <li ng-if="page - linkGroupSize > 1">&hellip;</li>

    <li ng-repeat=
      "p in [Math.max(0, page - linkGroupSize), Math.min(page + linkGroupSize, numPages-1)] | makeRange">
      <a href>{{p+1}}</a>
    </li>

    <li ng-if="page + linkGroupSize < numPages - 3">&hellip;</li>
    <li ng-if="page + linkGroupSize < numPages - 2"><a href>{{numPages}}</a></li>

    <li ng-class="{disabled: page >= numPages - 1}"><a href>&raquo;</a></li>
  </ul>
</div>
